/* ----- HEADER ----- */
.header {
  background-color: #003366; /* Mörk bakgrund */
  color: white; /* Textfärg */
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 10;
  margin-top: 20px;
}

.header-title {
  font-size: 3rem; /* Större text för rubriken */
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.header-description {
  font-size: 1.2rem;
  color: #ff7e5f; /* Ljusare färg för beskrivningen */
}

.quiz-header-button {
  background-color: #2645cf;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quiz-header-button:hover {
  background-color: #008f96;
}
